rapidfuzz==3.13.0
spacy==3.8.7
yake==0.4.8
opencv_contrib_python==4.11.0.86
opencv_python==4.9.0.80
pytesseract==0.3.13
rapidfuzz==3.13.0
Requests==2.32.4
scikit_learn==1.7.0
spacy==3.8.7
tqdm==4.67.1
ultralytics==8.3.156
yake==0.4.8
